<p>all-users works!</p>
<table *ngIf="">
  <thead>
    <th>All users</th>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{user.id}}</td>
    <td>{{user.role}}</td>
    <td>{{user.email}}</td>
    <td>{{user.password}}</td>
  </tr>
  </tbody>
</table>
